.idea/
otp-core/target/
otp-storage/target/
otp-mail/target/
otp-sample/target/
otp-web-servlet/target/
otp-web-spring/target/
otp-servlet-sample/target/
.settings/
.project
otp-core/.classpath
otp-core/.project
otp-mail/.classpath
otp-mail/.project
otp-sample/.classpath
otp-sample/.project
otp-servlet-sample/.classpath
otp-servlet-sample/.project
otp-storage/.classpath
otp-storage/.project
otp-web-servlet/.classpath
otp-web-servlet/.project
otp-web-spring/.classpath
otp-web-spring/.project
otp-spring-sample/.classpath
otp-spring-sample/.gitignore
**/release.properties
**/pom.xml.releaseBackup
